body {
background-image:url('carbon.png'); /* denne bakgrunnen er ikke endelig */
}

#container{
	position:center;
	width:900px;
	margin-left: auto ;
	margin-right: auto ;
	clear: both;
}

#leftnav{
	position:absolute;
	background-image:url('karbon.png');
	width:140px;
	height:700px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF; 
	float:left;
	clear: both;
	z-index: 3;
}

#rightnav{
  position:left;
  background-image:url('karbon.png');
  width:140px;
  height:700px;
  background-color:#218B50;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF; 
  float: right;
  clear: both;
  z-index: 4;
}

#logo {
	position:relative;
  	top: 1px;
  	left: 175px; 	
}

#header{
  position:realtive;
  width:898px;
  height:160px;
  background-color:#3a3b3b;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;  
}

#test{
	z-index: 1;
	position:center;
	width: 618px;
	height: 700px;
	background-color: white;
	margin: 0 auto;
}

#tekst{
	z-index:2;
	position: left;
	width: 498px;
	left: 20px;                                           	
}


#footer{
	position:relative;	
	clear:both;
	background-color:#3a3b3b;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
}