body {
background-image:url('carbon.png'); /* denne bakgrunnen er ikke endelig */
}

#container{
	position:relative;
	width:900px;
	margin: 0 auto;
	clear: both;
}

#leftnav{
	position:relative;
	background-image:url('karbon.png');
	width:140px;
	height:700px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF; 
	float:left;
}

#rightnav{
  position: relative;
  background-image:url('karbon.png');
  width:140px;
  height:700px;
  background-color:#218B50;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF; 
  float: right;
}

#logo {
	position:relative;
  	top: 1px;
  	left: 175px;
  	z-index: 2; 	
}

#header{
	position:relative;
	width:898px;
	height:160px;
	background-color:#3a3b3b;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF; 
	float: left;
}
#center{
	width: 618px;
	height: 862px;
	margin: 0 auto;
	background-color: white;
}


#overskrift {
	position:relative;
	width:498;
	left:45;
	top:20; 
}

#tekst{
	position: relative;
	width: 498px;
	left: 50px;                                           	
}

#footer{
	position:relative;	
	clear:both;
	background-color:#3a3b3b;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
}

table{
margin: 0 auto;
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
width:300px;
border-radius:25px;
}

textarea{
min-width:267px;
min-height:150px;
max-width:267px;
max-height:150px;

}

table td{
border:none;
}